/**
 * style.css
 */

.navbar .container .navbar-brand{
	font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.card_broad{
	padding-left: 20px;
}

.card_img{
	min-height: 261px;
}

.input-line{
	width: 50px;
}

.padding{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.left{
	float: left;
	width: 50%;
}
.right{
	float: left;
	width: 50%;
}

.detail_tour{
	padding-top: 50px;
}

.inner{
	width: 100%;
	overflow: hidden;
}

.card-min{
	min-height: 83px;
}
